* {
    margin:20px;
    padding:10px;
    font-family:'Courier New', Courier, monospace;
  }
  body{
    background-color: rgb(112, 0, 0);
    align-content: center;
  }
  .app{
    background-color: azure;
    width:700px;
    border-radius: 15px;
    border: solid;
    margin: 80px;
    padding:20px;
    text-align: center;
  }
  h1 {
    font-size: 25px;
    
  }
  .quiz {
    padding: 20px 0;
  }
  h2 {
    font-size: 15px;
  }
  .btn{
    background-color: rgb(173, 120, 21);
    color:black;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    width: 60px;
  }
  .btn:hover {
    background-color: azure;
  }
  
/*----------------------------------------*/
.end-form{
    width: 600px;
    align-items: center;
    padding:20px;
}
input{
    width: 300px;
    padding: 20px;
    font-size: 15px;
    border: solid 2px;
    border-radius: 10px;
}
input::placeholder {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;

}

#initials {
    font-size: 15px;
    color:black;
}